USE [master]
GO
/****** Object:  Database [CursoNetCore]    Script Date: 25/07/2023 10:21:26 p. m. ******/
CREATE DATABASE [CursoNetCore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CursoNetCore', FILENAME = N'C:\Users\karin\CursoNetCore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CursoNetCore_log', FILENAME = N'C:\Users\karin\CursoNetCore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CursoNetCore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CursoNetCore]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 25/07/2023 10:21:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[IdAlumno] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[Correo] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Alumnos] ([IdAlumno], [Nombre], [Apellidos], [Correo]) VALUES (1, N'Guadalupe', N'Martinez', N'lupita@gmail.com')
INSERT [dbo].[Alumnos] ([IdAlumno], [Nombre], [Apellidos], [Correo]) VALUES (2, N'Carlos Ernesto', N'Torres ', N'car56@hotmail.com')
INSERT [dbo].[Alumnos] ([IdAlumno], [Nombre], [Apellidos], [Correo]) VALUES (3, N'Sandra ', N'Perez Garcia', N'saperez@gmail.com')
GO
USE [master]
GO
